{{bootstrap.load_css()}}
<head>
    <title>Home</title>
</head>

<body style="background-color:rgb(145, 150, 221);">
    <p style="font-size:75%;">CST 205 - Final Project: Team #798 
        --- Members: Autumn Benton, Jaden Bussard, Justin Ho, Hasem Trejo</p>  
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <div vertical-align: middle>
        <center>
            <h1>Welcome</h1>
            <h3>to the</h3>
            <h1>Boredom Fixation Station</h1>
            <p>-------------------------------------------</p>
            <p>Do you find yourself bored?</p>
            <p>Are you tired of scrolling through Instagram and TikTok?</p>
            <p>Well we have a solution for you. Click the button below to solve your boredom.</p>

            <a href="{{url_for(name)}}"><button type="button">Solve Boredom</button></a>
        </center>
    </div>


</body>