<head>
    <title>Autumn's Page</title>
</head>
<body style="background-color:#85d0ee;">
    <center>
        <h1>Jelly Fish Fix Boredom</h1>
        <h3>Join us as we marvel at Monterey Bay Aquariam's Jelly Fish.</h3>
        <iframe width="840" height="473" src="https://www.youtube.com/embed/ugFNFq8OSgE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h1>Jelly Fish with Different Filters</h1>
        <div>
            <h2>Original Image</h2>
            <img src="/static/jelly.jpg">
        
        </div>
        <div>
            <h2>Negative Image</h2>
            <img src="/static/imNegative.jpg">
            <h2>Greyscale Image</h2>
            <img src="/static/imGrey.jpg">
        </div>
        <div>
            <a href="{{url_for('home')}}"><h1>Press here for new boredom</h1></a>
        </div>
            
    </center>

    
</body>